.sidebar {
  background-color: #d8d8d8;
  height: 100%;
}

.faculty {
  text-align: left;
  padding: 5% 8%;
  color: #000;
}

.faculty:hover {
  color: #0c1e66;
  cursor: pointer;
}

.departments {
  text-align: left;
  padding: 10px 50px;
  color: #000;
}

.department {
  color: inherit;
  text-decoration: none;
  display: block;
}

.department:hover {
  color: #237723;
  cursor: pointer;
}

.addFaculty {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.addFaculty button {
  background-color: #0c1e66;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.addFaculty button:hover {
  background-color: #237723;
  cursor: pointer;
}
