.welcomeMessage {
  margin: 200px auto;
}

.homeContainer {
  margin: 0px;
  padding: 0px;
}

.department {
  margin-bottom: 500px;
  padding: 30px;
}

.departmentHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0c1e66;
}

.departmentName {
  font-weight: bold;
  font-size: 26px;
  color: #0c1e66;
  padding: 10px;
  text-align: left;
}

.departmentName a {
  color: #0c1e66;
  text-decoration: none;
  display: inline-block;
}

.departmentName:hover {
  opacity: 0.7;
  cursor: pointer;
}

.chevronRight {
  color: #0c1e66;
  font-size: 15px;
  padding: 10px;
}

.courseName {
  font-weight: bold;
  color: #237723;
  padding: 10px;
  text-align: left;
  font-size: 26px;
}

.departmentContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerText {
  font-size: 30px;
  margin-top: 20px;
}

.courseContainer {
  width: 70%;
  background-color: #0c1e66;
  padding: 20px;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courseContainer a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  width: 100%;
  flex: 2;
  text-align: center;
}

.courseContainer:hover {
  opacity: 0.7;
  cursor: pointer;
}

.addCourse {
  margin-right: 0px;
  margin-left: auto;
  font-size: 18px;
}

.addCourse button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #0c1e66;
  background-color: #fff;
  font-weight: bold;
  color: #0c1e66;
}

.addCourse button:hover {
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #0c1e66;
  background-color: #0c1e66;
  font-weight: bold;
  color: #fff;
}

.addQuestion {
  margin-right: 0px;
  margin-left: auto;
  font-size: 18px;
}

.addQuestion button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #0c1e66;
  background-color: #fff;
  font-weight: bold;
  color: #0c1e66;
}

.addQuestion button:hover {
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #0c1e66;
  background-color: #0c1e66;
  font-weight: bold;
  color: #fff;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 32px;
  border: 1px solid #0c1e66;
  box-sizing: border-box;
  margin: 20px auto;
  font-size: 18px;
}

.formTitle {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  background-color: #fcfcfc;
}

.formSection {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 10px;
}

.formSection span {
  text-align: left;
}

.formInput {
  border: 1px solid #0c1e66;
  box-sizing: border-box;
  padding: 18px 42px 18px 24px;
  width: 100%;
  background-color: #fcfcfc;
}

.formInput:hover {
  border: 1px solid #237723;
}

.formSubmitButton {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  width: 80%;
  background: #237723;
  border-style: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
}

.formSubmitButton:hover {
  background-color: #0c1e66;
}

.hide {
  padding-top: 20px;
  color: #0c1e66;
}

.hide:hover {
  color: #237723;
  cursor: pointer;
}

.courseFormSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.courseFormSection p {
  text-align: left;
}

.courseInput {
  border: 1px solid #0c1e66;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  background-color: #fcfcfc;
}

.trashIcon {
  color: #ff4444;
  cursor: pointer;
  padding-left: 10px;
}

.removeCourseContainer {
  z-index: 10;
}
